.Profile{
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
    gap: 1rem;
    transition: ease all .5s;
}

.Profile_center{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


@media (max-width: 992px) {
    .Profile {
      grid-template-columns: min-content;
    }
}